body {
    background-color: #0ba1ec;
}

h1 {
    color:white;
    text-align: center;
    font: bold 40px MontSerrat;
}

select#flista {
    width: 150px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 15px 15px 15px rgba(0 ,0 , 0, 0.51)
}

footer {
    color:white;
    text-align: center;
    font-style: italic;
}

.num {
    font: normal 20px montserrat;
}